
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&amp;display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");

:root {

  --bs-font-sans-serif: "Roboto", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: "Roboto", "Courier New", monospace;
  --bs-body-font-family: poppins, sans-serif, sans-serif;
}

body h4{
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.header-title{
    font-weight: bold!important;
}



#page-topbar {
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index:1054;
    background-color:var(--bs-header-bg);
    border-bottom:1px solid var(--bs-border-color)
}
.navbar-header {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:justify;
    -webkit-box-pack:justify;
    justify-content:space-between;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    margin:0 auto;
    height:70px;
    padding:0 1.5rem 0 0
}
.navbar-header .dropdown .show.header-item {
    background-color:var(--bs-gray-100)
}
.navbar-brand-box {
    padding:0 1.5rem;
    width:250px;
    background:var(--bs-sidebar-bg);
    border-right:1px solid var(--bs-sidebar-border-color);
    -webkit-box-shadow:0 2px 2px var(--bs-sidebar-bg);
    box-shadow:0 2px 2px var(--bs-sidebar-bg)
}
.logo {
    line-height:69px;
    color:inherit!important
}
.logo .logo-sm {
    display:none
}
.logo-txt {
    font-weight:700;
    font-size:18px;
    vertical-align:middle;
    margin-left:5px
}
.logo-light {
    display:none
}
body:not([data-sidebar-size=sm]) #vertical-menu-btn {
    margin-left:-52px;
    margin-right:20px
}
@media (max-width:991.98px) {
    body:not([data-sidebar-size=sm]) #vertical-menu-btn {
        margin-left:0
    }
}
.app-search {
    padding:calc(30px / 2) 0;
    position:relative
}
.app-search .form-control {
    border:var(--bs-search-width) solid var(--bs-search-border-color);
    height:40px;
    padding-left:17px;
    padding-right:50px;
    background-color:var(--bs-topbar-search-bg);
    -webkit-box-shadow:none;
    box-shadow:none
}
.app-search .btn {
    position:absolute;
    right:3px;
    top:3px;
    height:34px;
    padding:0 10px
}
.layout-mode-light {
    display:none
}
body[data-bs-theme=dark] .layout-mode-dark {
    display:none
}
body[data-bs-theme=dark] .layout-mode-light {
    display:inline-block
}
[data-bs-theme=dark] [data-topbar=light] .logo-dark .logo-txt {
    color:#fff
}
[data-bs-theme=dark] [data-layout=horizontal][data-topbar=light] .logo-dark .logo-txt {
    color:#212529
}
.megamenu-list li {
    position:relative;
    padding:5px 0
}
.megamenu-list li a {
    color:var(--bs-body-color)
}
@media (max-width:992px) {
    .navbar-brand-box {
        width:auto
    }
    .logo span.logo-lg {
        display:none
    }
    .logo span.logo-sm {
        display:inline-block
    }
}
.page-content {
    padding:calc(70px + 1.5rem) calc(1.5rem * .75) 60px calc(1.5rem * .75)
}
.header-item {
    height:70px;
    -webkit-box-shadow:none!important;
    box-shadow:none!important;
    color:var(--bs-header-item-color);
    border:0;
    border-radius:0
}
.header-item:hover {
    color:var(--bs-header-item-color)
}
.header-profile-user {
    height:36px;
    width:36px;
    background-color:var(--bs-gray-600);
    padding:3px
}
.noti-icon i {
    font-size:22px;
    color:var(--bs-header-item-color)
}
.noti-icon .badge {
    position:absolute;
    top:12px;
    right:4px
}
.notification-item .d-flex {
    padding:.75rem 1rem
}
.notification-item .d-flex:hover {
    background-color:var(--bs-tertiary-bg)
}
.dropdown-icon-item {
    display:block;
    border-radius:3px;
    line-height:34px;
    text-align:center;
    padding:15px 0 9px;
    display:block;
    color:#74788d
}
.dropdown-icon-item img {
    height:24px
}
.dropdown-icon-item span {
    display:block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.dropdown-icon-item:hover {
    background-color:var(--bs-tertiary-bg);
    color:var(--bs-dark)
}
@media (max-width:600px) {
    .navbar-header .dropdown {
        position:static
    }
    .navbar-header .dropdown .dropdown-menu {
        left:10px!important;
        right:10px!important
    }
}
@media (max-width:380px) {
    .navbar-brand-box {
        display:none
    }
}
.page-title-box {
    padding-bottom:1.5rem
}
.page-title-box .breadcrumb {
    background-color:transparent;
    padding:0
}
.footer {
    bottom:0;
    padding:20px calc(1.5rem / 2);
    position:absolute;
    right:0;
    color:var(--bs-footer-color);
    left:250px;
    height:60px;
    background-color:var(--bs-footer-bg);
    border-top:1px solid var(--bs-border-color)
}
@media (max-width:991.98px) {
    .footer {
        left:0
    }
}
body[data-sidebar-size=sm] .footer {
    left:70px
}
@media (max-width:991.98px) {
    body[data-sidebar-size=sm] .footer {
        left:0
    }
}
body[data-layout=horizontal] .footer {
    left:0!important
}
.right-bar {
    background-color:var(--bs-sidebar-bg);
    -webkit-box-shadow:0 0 24px 0 rgba(0,0,0,.06),0 1px 0 0 rgba(0,0,0,.02);
    box-shadow:0 0 24px 0 rgba(0,0,0,.06),0 1px 0 0 rgba(0,0,0,.02);
    display:block;
    position:fixed;
    -webkit-transition:all .2s ease-out;
    transition:all .2s ease-out;
    width:300px;
    z-index:9999;
    float:right!important;
    right:-310px;
    top:0;
    bottom:0
}
.right-bar .right-bar-toggle {
    background-color:#31373d;
    height:24px;
    width:24px;
    line-height:24px;
    display:block;
    color:#e9e9ef;
    text-align:center;
    border-radius:50%
}
.right-bar .right-bar-toggle:hover {
    background-color:#383f45
}
.rightbar-overlay {
    background-color:rgba(33,37,41,.55);
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    display:none;
    z-index:9998;
    -webkit-transition:all .2s ease-out;
    transition:all .2s ease-out
}
.right-bar-enabled .right-bar {
    right:0
}
.right-bar-enabled .rightbar-overlay {
    display:block
}
@media (max-width:767.98px) {
    .right-bar {
        overflow:auto
    }
    .right-bar .slimscroll-menu {
        height:auto!important
    }
}
.metismenu {
    margin:0
}
.metismenu li {
    display:block;
    width:100%
}
.metismenu .mm-collapse {
    display:none
}
.metismenu .mm-collapse:not(.mm-show) {
    display:none
}
.metismenu .mm-collapse.mm-show {
    display:block
}
.metismenu .mm-collapsing {
    position:relative;
    height:0;
    overflow:hidden;
    -webkit-transition-timing-function:ease;
    transition-timing-function:ease;
    -webkit-transition-duration:.35s;
    transition-duration:.35s;
    -webkit-transition-property:height,visibility;
    transition-property:height,visibility
}
.vertical-menu {
    width:250px;
    z-index:1001;
    background:var(--bs-sidebar-bg);
    bottom:0;
    margin-top:0;
    position:fixed;
    top:70px;
    border-right:1px solid var(--bs-border-color)
}
.main-content {
    margin-left:250px;
    overflow:hidden
}
.main-content .content {
    padding:0 15px 10px 15px;
    margin-top:70px
}
.menu-title {
    padding:12px 20px!important;
    pointer-events:none;
    cursor:default;
    font-size:12px;
    color:var(--bs-sidebar-menu-item-icon-color);
    font-weight:500
}
.mm-active>a {
    color:var(--bs-sidebar-menu-item-active-color)!important
}
.mm-active>a i {
    color:var(--bs-sidebar-menu-item-active-color)!important
}
.mm-active>a svg {
    color:var(--bs-sidebar-menu-item-active-color)!important;
    fill:var(--bs-sidebar-menu-item-active-effact-color)
}
.mm-active .active {
    color:var(--bs-sidebar-menu-item-active-color)!important
}
.mm-active .active i {
    color:var(--bs-sidebar-menu-item-active-color)!important
}
.mm-active .active svg {
    color:var(--bs-sidebar-menu-item-active-color)!important;
    fill:var(--bs-sidebar-menu-item-active-effact-color)
}
.mm-active>i {
    color:var(--bs-sidebar-menu-item-active-color)!important
}
.sidebar-alert {
    background-color:var(--bs-sidebar-alert)
}
.sidebar-alert .alertcard-title {
    color:#1a489a
}
@media (max-width:992px) {
    .vertical-menu {
        display:none
    }
    .main-content {
        margin-left:0!important
    }
    body.sidebar-enable .vertical-menu {
        display:block
    }
}
.topnav {
    background:#fff;
    padding:0 calc(1.5rem / 2);
    margin-top:70px;
    position:fixed;
    left:0;
    right:0;
    z-index:100;
    border-bottom:1px solid var(--bs-border-color)
}
@media (min-width:992px) {
    .topnav {
        background:var(--bs-topnav-bg)
    }
}
.topnav .topnav-menu {
    margin:0;
    padding:0
}
.topnav .navbar-nav .nav-link {
    font-size:14.4px;
    position:relative;
    padding:1rem 1.3rem;
    color:var(--bs-menu-item-color);
    font-weight:500
}
.topnav .navbar-nav .nav-link i {
    font-size:15px
}
.topnav .navbar-nav .nav-link svg {
    height:16px;
    width:16px;
    color:var(--bs-menu-item-color);
    fill:var(--bs-sidebar-menu-item-icon-effact-color);
    margin-right:7px;
    margin-top:-3px
}
.topnav .navbar-nav .nav-link:focus,.topnav .navbar-nav .nav-link:hover {
    color:var(--bs-menu-item-active-color);
    background-color:transparent
}
.topnav .navbar-nav .nav-link:focus svg,.topnav .navbar-nav .nav-link:hover svg {
    color:var(--bs-menu-item-active-color);
    fill:var(--bs-sidebar-menu-item-active-effact-color)
}
.topnav .navbar-nav .dropdown-item {
    color:var(--bs-menu-item-color)
}
.topnav .navbar-nav .dropdown-item.active,.topnav .navbar-nav .dropdown-item:hover {
    color:var(--bs-menu-item-active-color)
}
.topnav .navbar-nav .nav-item .nav-link.active {
    color:var(--bs-menu-item-active-color)
}
.topnav .navbar-nav .nav-item .nav-link.active svg {
    color:var(--bs-menu-item-active-color);
    fill:var(--bs-sidebar-menu-item-active-effact-color)
}
.topnav .navbar-nav .dropdown.active>a {
    color:var(--bs-menu-item-active-color);
    background-color:transparent
}
.topnav .navbar-nav .dropdown.active>a svg {
    color:var(--bs-menu-item-active-color);
    fill:var(--bs-sidebar-menu-item-active-effact-color)
}
.topnav .menu-title {
    padding:12px 24px!important
}
@media (max-width:991.98px) {
    .topnav .menu-title {
        padding:12px 16px!important
    }
}

@media (min-width:992px) {
    .topnav .navbar-nav .nav-item:first-of-type .nav-link {
        padding-left:0
    }
    .topnav .dropdown-item {
        padding:.5rem 1.5rem;
        min-width:180px
    }
    .topnav .dropdown.mega-dropdown .mega-dropdown-menu {
        left:0;
        right:auto
    }
    .topnav .dropdown .dropdown-menu {
        margin-top:0;
        border-radius:0 0 var(--bs-border-radius) var(--bs-border-radius)
    }
    .topnav .dropdown .dropdown-menu .arrow-down::after {
        right:15px;
        -webkit-transform:rotate(-135deg) translateY(-50%);
        transform:rotate(-135deg) translateY(-50%);
        position:absolute
    }
    .topnav .dropdown .dropdown-menu .dropdown .dropdown-menu {
        position:absolute;
        top:0!important;
        left:100%;
        display:none
    }
    .topnav .dropdown:hover>.dropdown-menu {
        display:block
    }
    .topnav .dropdown:hover>.dropdown-menu>.dropdown:hover>.dropdown-menu {
        display:block
    }
    .navbar-toggle {
        display:none
    }
}
.arrow-down {
    display:inline-block
}
.arrow-down:after {
    border-color:initial;
    border-style:solid;
    border-width:0 0 1px 1px;
    content:"";
    height:.4em;
    display:inline-block;
    right:5px;
    top:50%;
    margin-left:10px;
    -webkit-transform:rotate(-45deg) translateY(-50%);
    transform:rotate(-45deg) translateY(-50%);
    -webkit-transform-origin:top;
    transform-origin:top;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
    width:.4em
}
@media (max-width:1199.98px) {
    .topnav-menu .navbar-nav li:last-of-type .dropdown .dropdown-menu {
        right:100%;
        left:auto
    }
}
@media (max-width:991.98px) {
    .navbar-brand-box .logo-dark {
        display:block
    }
    .navbar-brand-box .logo-dark span.logo-sm {
        display:block
    }
    .navbar-brand-box .logo-light {
        display:none
    }
    .topnav {
        max-height:360px;
        overflow-y:auto;
        padding:0
    }
    .topnav .navbar-nav .nav-link {
        padding:.75rem 1.1rem
    }
    .topnav .dropdown .dropdown-menu {
        background-color:transparent;
        border:none;
        -webkit-box-shadow:none;
        box-shadow:none;
        padding-left:24px
    }
    .topnav .dropdown .dropdown-menu.dropdown-mega-menu-xl {
        width:auto
    }
    .topnav .dropdown .dropdown-menu.dropdown-mega-menu-xl .row {
        margin:0
    }
    .topnav .dropdown .dropdown-item {
        position:relative;
        background-color:transparent
    }
    .topnav .dropdown .dropdown-item.active,.topnav .dropdown .dropdown-item:active {
        color:#1a489a
    }
    .topnav .arrow-down::after {
        right:15px;
        position:absolute
    }
}


:root,[data-bs-theme=light] {
    --bs-header-bg:#fff;
    --bs-body-color: #888888;
    --bs-header-item-color:var(--bs-header-item-color);
    --bs-header-item-sub-color:var(--bs-secondary-color);
    --bs-sidebar-bg:#fbfaff;
    --bs-sidebar-border-color:#e9e9ef;
    --bs-sidebar-menu-item-active-bg-color:#f3f8fb;
    --bs-sidebar-menu-item-active-bg-color-dark:#293552;
    --bs-sidebar-alert:rgba(81, 86, 190, 0.1);
    --bs-topbar-search-bg:#f3f3f9;
    --bs-topbar-dark-search-bg:#363a38;
    --bs-search-width:0px;
    --bs-search-border-color:#e9e9ef;
    --bs-boxed-body-bg:whitesmoke;
    --bs-topbar-search-bg:#f8f9fa;
    --bs-topnav-bg:#fbfaff;
    --bs-topnav-item-color:#ced4da;
    --bs-topnav-item-color-active:#fff;
    --bs-menu-item-color:#7b8190;
    --bs-menu-item-active-color:#5b73e8;
    --bs-twocolumn-menu-iconview-bg:#fff;
    --bs-twocolumn-menu-bg:#fff;
    --bs-footer-bg:#fff;
    --bs-footer-color:#74788d
}


/************/

:root{
    --secondary: #f8b940;
    --firstly :#1a489a;
    --green :#249917;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #1a489a;
    --bs-btn-border-color: #1a489a;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1a489a;
    --bs-btn-hover-border-color: #1a489a;
    --bs-btn-focus-shadow-rgb: 107,111,200;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1a489a;
    --bs-btn-active-border-color: #3d418f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #1a489a;
    --bs-btn-disabled-border-color: #1a489a;
}


.bg-firstly{
    background-color: var(--firstly) !important;
    border-color: var(--firstly)  !important;
}

.bg-gray{
    background-color: #e9edf4;
}
.layout-wrapper .layout-main {
    padding: 142px 15px 0px 15px !important;
}

.topnav {
        background: #e9edf4;
}

@media (min-width: 992px){
    .topnav {
        background: #e9edf4;
    }
}

.layout-wrapper .layout-main{
    margin-left: 0px;
}

@media (min-width: 1200px){
    body .container-fluid, .navbar-header {
        max-width: 85%;
    }
}
.footer {
    left: 0px;
}

.logo-brand-box{
    width: 250px;
}

#page-header-user-dropdown{
    border-radius: 0px;
}

.blue-card{
    background-color: #1a489a;
    
}

.gold-card{
    background-color: #eebc58;
    
}

.blue-card .text-muted, .blue-card h4{
    color: #fff !important;
}

.my-calendar {
    background-color: #1a489a;
    overflow: hidden;
}
.card-ui {
    

    --bs-card-spacer-y: 1.25rem;
    --bs-card-spacer-x: 1.25rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 1.25rem;
    --bs-card-cap-padding-x: 1.25rem;
    --bs-card-cap-bg: var(--bs-secondary-bg);
    --bs-card-bg: var(--bs-secondary-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    margin-bottom: 1.563rem;
    transition: all .5s ease-in-out;
    position: relative;
    border-radius: 0.625rem;
}
body .right-calaendar .ui-datepicker .ui-datepicker-calendar td>a, body .ui-datepicker .ui-datepicker-calendar td>span {
    padding: 0;
    color: #fff;
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    margin-right: -5px !important;
    border: 0 none;
    display: inline-block;
    transition: background-color .2s,color .2s,border-color .2s,box-shadow .2s,opacity .2s;
    border-radius: 50%;
}

body .right-calaendar .ui-datepicker {
    background: #1b489a;
    border: none;
    color: #888888;
    padding:0px !important;
    width: auto;
    border-radius: 0.625rem;
}

body .right-calaendar .ui-datepicker .ui-datepicker-calendar td.ui-datepicker-today>a, body .ui-datepicker .ui-datepicker-calendar td.ui-datepicker-today>span, body .ui-datepicker .ui-datepicker-calendar td.ui-datepicker-current-day>a, body .ui-datepicker .ui-datepicker-calendar td.ui-datepicker-current-day>span {
    background: var(--secondary); 
    color: #fff;
    font-weight: 600;
    border: 0 none;
}

body .right-calaendar .ui-datepicker .ui-datepicker-header {
    margin: 0; 
    padding: 0px !important;
    line-height: normal; 
    background: #1b489a; 
    color: #fff; 
    font-weight: 600; 
    border: none; 
    border-width: 0 0 1px 0;
    border-radius: 0;
}

body .right-calaendar .ui-datepicker .ui-datepicker-calendar td {
    padding: 0.3rem;
    text-align: center;
}

body .ui-datepicker .ui-datepicker-group {
    padding: 1.25rem !important;
}


body .ui-datepicker .ui-datepicker-calendar {
    margin: 0.9rem 0 0.5rem 0;
}

.p-datepicker-panel .ui-timepicker {
    text-align: center;
    padding: 0.5em;
    display: none !important;
}

body .ui-toolbar {
    border: none;
}

body .ui-inputfield {
    width: 100% !important;
}

.mt-4-5{
    margin-top: 2.1rem!important;
}

.bg-white{
    background-color: #fff;
}

body .ui-datepicker .ui-datepicker-calendar td>a.ui-state-active, body .ui-datepicker .ui-datepicker-calendar td>span.ui-state-active {
    background: #e3f2fd;
    color: #1b489a !important;
    color: #495057;
    border: 0 none;
}

.card-top-corner {
    border-top-left-radius:  0.625rem;
    border-top-right-radius:  0.625rem;
}

.bleu-bg{
    background-color: #1a489a !important;
    border-color: #1a489a !important;
}

.bg-gold{
    background-color: var(--secondary) !important;
    border-color: var(--secondary)  !important;
    color: var(--firstly) !important;
}

.bg-green{
    background-color: var(--green) !important;
    border-color: var(--green)  !important;
    color:#fff !important;
}